/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2020, 4:14:08 PM
    Author     : Raj Parmar
*/

Center {
  
  padding-top: auto;
  margin: auto;
  height: 300px;
  width: 40%;
  background-color: #77a777;}

#submit {
    padding-left: 200px;
    margin: auto;
    height: 100px;
}

.text {
    margin: auto;
    font-size: 30px;
}

body {
  background: url('../Images/BookShelf.jpg');
}

background {
    opacity: 0.5%;
}

h1 {
    font-size: 50px;
}



